/*******************************************************************************
Slate Theme for GitHub Pages
by mtyskazu
 *******************************************************************************/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*******************************************************************************
Theme Styles
 *******************************************************************************/
body {
	box-sizing: border-box;
	color:#373737;
	background: #f2f2f2;
	-webkit-font-smoothing: antialiased;
	font-family: "Hiragino Mincho ProN",Georgia,"MS PMincho";
}
/*******************************************************************************
Full-Width Styles
 *******************************************************************************/
.outer {
	width: 100%;
}
.inner {
	position: relative;
	max-width: 720px;
	padding: 20px 10px;
	margin: 0 auto;
}
/*******************************************************************************
 * header
 *******************************************************************************/
#header_wrap {
	background: #ffffff;
	/*background: #213;*/
	/*background: -moz-linear-gradient(top, #fff, #213);*/
	/*background: -webkit-linear-gradient(top, #fff, #213);*/
	/*background: -ms-linear-gradient(top, #fff, #213);*/
	/*background: -o-linear-gradient(top, #fff, #213);*/
	/*background: linear-gradient(top, #fff, #213);*/
}
#header_wrap .inner {
	padding: 5px 0 0 0;
}
#header_wrap img {
	width: 197px;
	height: 126px; 
	margin: 24px; 
	float: left;
	/*box-shadow: 0 0 30px #ebebeb;*/
	/*-webkit-box-shadow: 0 0 30px #ebebeb;*/
	/*-moz-box-shadow: 0 0 30px #ebebeb;*/
	/*-o-box-shadow: 0 0 30px #ebebeb;*/
	/*-ms-box-shadow: 0 0 30px #ebebeb;*/
}
#header_wrap .title {
	color: #111;
	text-shadow: #111 0px 0px 10px;
}
#header_wrap .subject{
	/*float: left;*/
	margin: 0;
	padding: 0;
}
/*******************************************************************************
 * sidebar 
 *******************************************************************************/
.sidebar-nav {
	padding: 9px 0;	
}
/*******************************************************************************
 * content 
 *******************************************************************************/
#main_content_wrap {
	background: #f2f2f2;
	padding-top: 20px;
	/*border-top: 1px solid #111;*/
	/*border-bottom: 1px solid #111;*/
}
#iframe_content{
	width: 100%;
}
.carousel {
	width: 100%;
	height: 480px;
	margin-bottom: 0px;
}
.carousel-caption {
	position: static;	
	padding-bottom: 10px;
}	
.carousel-control {
	top: 220px;
	left: 0px;
	margin: 0;
}	
.carousel-control.right {
	right: 0px;
}	
.item img {
	/*position: relative;*/
	display: block;
	margin: 0 auto;
	border: 1px solid #ebebeb;
	/*box-shadow: 0 0 5px #ebebeb;*/
	/*-webkit-box-shadow: 0 0 5px #ebebeb;*/
	/*-moz-box-shadow: 0 0 5px #ebebeb;*/
	/*-o-box-shadow: 0 0 5px #ebebeb;*/
	/*-ms-box-shadow: 0 0 5px #ebebeb;*/
}
.maps {
	height: 480px;
	width : 640px;
	display: block;
	margin: 0 auto;
	border: 1px solid #ebebeb;
	/*padding-bottom: 300px;*/
	/*background: white;*/
	/*background: -moz-linear-gradient(top, black, white);*/
	/*background: -webkit-linear-gradient(top, black, white);*/
	/*background: -ms-linear-gradient(top, black, white);*/
	/*background: -o-linear-gradient(top, black, white);*/
	/*background: linear-gradient(top, black, white);*/
}
.maps img {
	max-width: none;
}
.info-data {
	width: 360px;
}
.info-data h1, .info-data h3 {
	color: #C60;
	font-size: 16px; 
	padding-bottom: 0.5em; 
	border-bottom: solid 1px #CCC; 
	margin-bottom: 0.5em;
}
.info-data img { 
	margin-left: 10px; 
	float:right; 
}
.btn-detail {
	float: right;	
	margin: 14px 0 0 0;
}
.collapse {
	clear: both;
	color: white;	
	line-height: 20px;
}
.nav-list>li {
	/*margin-bottom: -3px;*/
	margin-bottom: 1px;
	font-size: 1.2em;
}
.nav-list>li>a {
	padding: 10px 15px;
	color: white;
	text-shadow: none;
	font-weight: bold;
	text-align: right;
}
.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>li>a:hover {
	margin-left: 0px;	
	text-shadow: none;
	/*-webkit-transform: scale(1.1);*/
}
#mapbtn {
	width: 100%;
	text-align: right;
	color: #999;
	font-weight: bold;
	padding: 10px 15px;
	background-color: transparent;
	border: none;
}
#mapbtn:hover {
	color: #FF2151;
}
#mapbtn.active {
	color: #FF2151;
	background-color: transparent;
}
#myMap {
	height: 572px;
}
#myMap img {
	max-width: none;
}
/*******************************************************************************
 * footer 
 *******************************************************************************/
#footer_wrap {
	background: #f2f2f2;
	padding: 10px 0;
}
#footer_wrap .inner {
	padding: 0;
	margin: 0 0 0 10px;
}
#footer_wrap p {
	margin: 0 0 5px 0;
	color: #000;
}
/*******************************************************************************
Small Device Styles
 *******************************************************************************/
@media screen and (max-width: 480px) {
	body {
		font-size:14px;
	}

	#downloads {
		display: none;
	}

	.inner {
		min-width: 320px;
		max-width: 480px;
	}

	#project_title {
		font-size: 32px;
	}

	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 21px;
	}

	h4 {
		font-size: 18px;
	}

	h5 {
		font-size: 14px;
	}

	h6 {
		font-size: 12px;
	}

	code, pre {
		min-width: 320px;
		max-width: 480px;
		font-size: 11px;
	}

}
